# ROS 2 build and install directories
**/build/
**/install/
**/log/

# Python Bytecode and Cache Files
__pycache__/
*.py[cod]

# CMake Build Artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Colcon Cache and Configuration Files
*.db
.colcon/

# Object Files and Compiled Libraries
*.o
*.so
*.a
*.out

# Executable Binaries
*.exe
*.out

# ROS 2 Package Artifacts
ament_cmake_index/

# System Files
.DS_Store

# Temporary Files
*.swp
*.bak
*~

# Virtual Environment Files
*.venv
